/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

html,body{
margin:0;
padding:0;
font-family: 'Arial', sans-serif;
height: 100%;
width: 100%;
}
img { max-width: 100%; }

#wrapper{
max-width: 100%;
width: 940px;
margin: 0 auto;
background: url(../images/slack-channel-opt.png) no-repeat 50% 50%;
}

.main {
    max-width: 100%;
    width: 625px;
    text-align: center;
    margin: 0 auto;
    line-height: 1.5;
}

.header, .content, .bottom, .sep2{
width: 100%;
float: left;
}



.header{
	margin-top: 60px;
	margin-bottom: 40px;
}


h1{
font-family: 'Arial', sans-serif;
color: #e6492f;
text-align: center;
font-size: 50px;
font-weight: 300;
margin: 0 0 10px 0;
}


h1 strong{
font-size: 38px;
font-weight: 700;
}

h2{
	text-align: center;
	font-weight: 300;
	font-size: 20px;
	color: #505050;
	max-width: ;

}

h2 strong{
	font-weight: 700;
	font-style: italic;
}


.information{
width: 90%;
padding-top: 0;
margin: 0 auto;
}

h3{
font-size: 28px;
font-weight: 600;
color: #505050;
}

.information p{
font-size: 16px;
color: #505050;
display: block;
}

.form{
width: 100%;
margin: 20px auto;
display: flex;
flex-wrap: nowrap;
}

.field{
border:1px solid rgba(0,0,0,0.1) !important;
font-family: 'Arial', sans-serif;
font-size: 16px;
color: #505050;
padding: 15px;
flex: 1;
border-top-left-radius: 0.8em;
border-bottom-left-radius: 0.8em;
}

.submit{
padding: 15px 30px;
border: none;
font-family: 'Arial', sans-serif;
font-size: 17px;
font-weight: bold;
cursor: pointer;
    border: .08em solid #c73a11;
    color: #fff;
    font-weight: bold;
    background-color: #e95c33;
    background: -webkit-linear-gradient(top,#e85c33 0,#e53a2b 100%);
    background: linear-gradient(to bottom,#e85c33 0,#e53a2b 100%);
    border-radius: .5em;
    -webkit-transition: border-color .3s;
    transition: border-color .3s;
border-bottom-left-radius: 0px;
border-top-left-radius: 0px;
}

@media only screen and (max-device-width: 420px)  {
	.information{
		width: 100%;
	}
	.form{
		width: 100%;
	}

	.field {
		width: 90%;
		padding-left: 5%;
		padding-right: 5%;
	}
}



.submit:hover{
box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.4);
}

.error {
  color: #FE7070;
  font-weight: 700;
  font-size: 25px;
}

a {
  color: #92BCF2;
  font-weight: 700;
}

.submit:active,
.submit:focus {
	box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.4);
position: relative;
top: 2px;
outline: none;
}
